.myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.myModalContent {
  padding: 2rem;
  background: whitesmoke;
  border-radius: 1rem;
  min-width: 20rem;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
