* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
  margin-bottom: 2rem;
}

.post {
  display: flex;
  padding: 1rem;
  border: 2px solid teal;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.page--wrapper {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page {
  padding: 1rem;
  border: 1px solid teal;
  cursor: pointer;
  border-radius: 1rem;
  transition: 0.2s all;
}

.page__current {
  background-color: teal;
  color: white;
}

.page:hover {
  background-color: teal;
  color: aliceblue;
  transition: 0.2s all;
}

.navbar {
  height: 5rem;
  width: 80rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: aquamarine;
}

.navbar__links {
  margin-left: auto;
}
